body{
    font-family: 'Oleo Script', cursive;
    height: 4000px;
    color: rgb(197, 188, 188);
    font-size: 50px;
 padding-left: 70px;
 background-image: url(images/code1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
.nav {
    display: flex;
    color: rgb(179, 159, 159);
    padding-left: 1300px;
  }
  .nav ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 30;
  }
  .nav ul li {
    margin: 1rem;
  }
  .nav ul a {
    text-decoration: none;
    color: rgb(245, 248, 248);
  }
  .me{
      padding-top: 250px;
      display: flex;
      justify-content: space-evenly;
      padding-left: 50px;
  }
  .two ul{
      display: flex;
      list-style: none;
  }
  .first-img{
      border-radius: 5%;
  }
  .about{
      display: flex;
      justify-content: space-evenly;
     column-gap: 50px;
     padding-top: 50px;
     padding-bottom: 70px;

  }
  .hack{
      border: 0px solid black;
      border-radius: 10%;
      height: 450px;
      width: 600px;

  }
.projects{
padding-top: 350px;
background-color: rgb(12, 10, 10);
display: flex;

}
.burger{
   border: 0px solid black; 
   padding-right: 60px;
}
.foot{
    padding-top: 100px;
    text-align: center;
}
.imgs{
    display: flex;
   padding-left: 750px;
}
