body{
    font-family: 'Oleo Script', cursive;
    height: 1200px;
    color: rgb(197, 188, 188);
    font-size: 50px;
 
 background-image: url(images/code1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
.nav {
    display: flex;
    color: rgb(179, 159, 159);
    padding-left: 1300px;
  }
  .nav ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 30;
  }
  .nav ul li {
    margin: 1rem;
  }
  .nav ul a {
    text-decoration: none;
    color: rgb(245, 248, 248);
  }
  .about{
      padding-top: 250px;
      display: flex;
      justify-content: space-evenly;
      padding-left: 50px;
  }
  .about ul{
      display: flex;
      list-style: none;
  }
  .first-img{
      border-radius: 5%;
  }