body{
    font-family: 'Oleo Script', cursive;
    height: 4000px;
    color: rgb(197, 188, 188);
    font-size: 50px;
 padding-left: 70px;
 background-image: url(images/code1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
.dropdown{
  overflow: visible;
  position: absolute;
  margin-left: 1770px;
  font-size: 60px;
  height: 250px;
}
/* .nav {
    display: flex;
    color: rgb(179, 159, 159);
    padding-left: 1300px;
  }
  .nav ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 30;
    transition: all .5s;
  }
  .nav ul :hover {
    transform: scale(1.09);
  }
  .nav ul li {
    margin: 1rem;
  }
  .nav ul a {
    text-decoration: none;
    color: rgb(245, 248, 248);
  } */
  .two h1{
    font-size: 75px;
  }
  
  .me{
      padding-top: 230px;
      display: flex;
      justify-content: space-evenly;
      padding-left: 50px;
  }
  .two ul{
      display: flex;
      list-style: none;
  }
  .first-img{
      border-radius: 5%;
  }
  .about{
      display: flex;
      justify-content: space-evenly;
     column-gap: 50px;
     padding-top: 50px;
     padding-bottom: 70px;

  }
  .interests{
    background-color: rgb(3, 20, 3);
  }
  .interests ul{
      list-style: none;
  }
  .hack{
      border: 1px solid black;
      border-radius: 10%;
      height: 650px;
      width: 600px;

  }
  .both{
      padding-top: 170px;
     display: flex; 
     justify-content: space-around;
     text-align: center;
    
  }

.projects{
padding-top: 350px;
display: flex;
}
.burger{
    background-color: rgb(3, 10, 3);
   border: 0px solid black; 
   padding-right: 60px;
   transition: all .4s;
  
}
.burger :hover {
  transform: scale(1.06);
}
.burger a{
    color: rgb(18, 58, 18);
    text-decoration: none;
   
}
.foot{
    background-color: rgb(13, 31, 13);
    padding-top: 100px;
    text-align: center;
}
.imgs{
    display: flex;
   padding-left: 750px;
}
@media screen and (max-width: 900px) {
    .nav-bar {
      flex-direction: column;
      height: 100%;
      align-items: center;
    }
    .foot{
      background-color:rgb(61, 60, 60);
    }
  }
